.main-inner{
    width: 100%;
    height: 150px;
    /* background-image: url("https://i.pinimg.com/originals/4b/22/93/4b229396885b90ea126258e5d19370ec.gif"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: -170px; */

}
.row{
    padding-top: 6%;
    display: flex;
    justify-content: center;
}

.row-inner{
    height: 400px;

}
.col-12.col-lg-6.row-inner.left{
    height: 490px;
    background-image: url(../img/Hospital1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.right h2{
    font-size: 50px;
    font-weight: 100px;
}

.col-12.text{

    text-align: left;
    padding-top: 40px;
}
.col-12.img{
    height:400px ;
    background-image: url(../img/Medical2-01.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1200px){
    .col-12.col-lg-6.row-inner.left{
        height: 600px;
    }
}
@media only screen and (max-width: 768px){
    .main-inner{
        height: auto;
    }
}
@media only screen and (max-width: 576px){
    .col-12.col-lg-6.row-inner.left{
        height: 400px;
    }
}