.boder{
    border: 1px solid red;
}

.main-outer{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-inner{
    box-shadow: -2px 3px 20px 6px rgba(0,0,0,0.75);
-webkit-box-shadow: -2px 3px 20px 6px rgba(0,0,0,0.75);
-moz-box-shadow: -2px 3px 20px 6px rgba(0,0,0,0.75);
}
.inner-left{
    padding: 10px;
}
.inner-right {
    padding: 40px;
}
.btn{
    margin-bottom:10px ;
}
@media only screen and (max-width: 767px) {
     .inner-left{
        display: none;
     }

 }